---
import Layout from "../layouts/base.astro";
---

<Layout title="Arish Rahil Shah" description="personal website">
  <h1 class="animate-enter">Arish Rahil Shah</h1>
  <p class="animate-enter" style={{ animationDelay: "120ms" }}>
    <em>Lorem ipsum dolor sit amet.</em> Consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
  </p>
  <p class="animate-enter" style={{ animationDelay: "240ms" }}>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor.
  </p>

  <div class="animate-enter" style={{ animationDelay: "360ms" }}>
    <h2>Now</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. <em>
        Ut enim ad minim veniam.
      </em>
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
  </div>

  <div class="animate-enter" style={{ animationDelay: "480ms" }}>
    <h2>Connect</h2>
    <p>
      Reach me at
      <a href="https://x.com/arish_shah" title="X" target="_blank"
        >@arish_shah</a
      >
      or <a href="mailto:arish.r.shah@gmail.com" title="Email">
        arish.r.shah@gmail.com</a
      >.
    </p>
  </div>
</Layout>
