---
import Layout from "../layouts/base.astro";
---

<Layout title="Arish Rahil Shah" description="personal website">
  <h1 class="font-medium">Arish Rahil Shah</h1>
  <p>work in progress</p>
</Layout>
