.container {
  padding: 80px 0 30px 0;
}

hr {
  width: 50px;
  border: none;
  height: 2px;
  background: var(--text);
  margin-left: 30px;
  margin-top: 100px;
  margin-bottom: 50px;
}

@media (min-width: 600px) {
  .container {
    padding-top: 90px;
    width: 880px;
    margin: 0 auto;
  }
}