.NotFound {
  height: 75vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0 60px;
}

.container a {
  color: var(--blue);
  display: inline-block;
}

.container a::after {
  content: '';
  display: block;
  height: 2px;
  background: var(--blue);
  margin-top: 0px;
  transition: width .3s ease-in-out;
  width: 0;
}

.container a:hover::after {
  width: 100%;
}

.container h1 {
  line-height: 60px;
  font-size: 36px;
  font-weight: 500;
}

.container h2 {
  line-height: 40px;
}