.Project {
  padding: 15px;
  margin: 15px 25px;
  border-radius: 4px;
  cursor: pointer !important;
  background: var(--dark-background, #1c1f22);
  transition: all 0.25s ease;
}

.Project:hover {
  box-shadow: 0 2px 10px var(--darkest-background, #191c1e);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.imageContainer {
  align-self: flex-start;
}

.imageContainer img {
  height: 40px;
  width: 40px;
  float: left;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.infoContainer h2 {
  margin: 0px; 
  font-weight: normal;
}

.description {
  color: var(--muted-text, #aaa);
}

@media (min-width: 880px) {
  .Project {
    margin: 15px 0;
  }

  .container {
    padding: 10px 20px;
    max-width: 880px;
  }

  .imageContainer img {
    width: 50px;
    height: 50px;
  }
}