.container {
  padding: 0 30px;
}

.button {
  background-color: var(--blue);
  border: none;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  padding: 15px 40px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.1s ease-in-out;
}

.button:hover {
  background: var(--text);
  color: var(--background);
}

.contact a {
  text-decoration: underline;
  color: var(--text);
}

.contact span {
  display: block;
}

@media (min-width: 880px) {
  .container {
    padding: 0;
  }

  .contact span {
    display: initial;
  }
}